/* alternative styles */


table.simple thead tr th {
	/*background-color: #eee;*/
	font-style: italic;
	text-transform: uppercase;
}

table.simple tr.even {
	background-color: rgb(155, 209, 250);
}

table.simple {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

table.simple td.textRed {
	color: #b11;
}