/* alternative styles */

table.simple {
	
}

table.simple thead tr th {
	/*background-color: #eee;*/
	font-style: bold;
	text-transform: uppercase;
	background-color: #9BD1FA;
	color: black;
}

table.simple tr.even {
	background-color: #E0E2F3;
}

table.simple {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

table.simple td.textRed {
	color: #b11;
}