div.menubar {
  position:         absolute;
  left:             0;
  top:              -16px;
  width:            100%;
}

div.menutext {
  height:           16px;
  z-index:          3;
}

div.menutext td img { 
  cursor: pointer;
}

table.slickmenu a {
  text-decoration: none;
/*  width:           70px;*/
  display:         block;
/*  padding:         1px 1px;*/
  font-size:       0.8em;
  font-weight:     bold;
}

table.slickmenu a:hover {
  display:         block;
  text-decoration: none;
}

div.submenus a {
  text-decoration: none;
  display:         block;
  width:           100px;
  padding:         2px 2px;
  font-size:       0.75em;
}

div.submenus a:hover {
  text-decoration: none;
}
