/* Colours
Primary colours
#074987 prime1 (from colour picker against logo)
#004869 prime1		pantone 301
#8abbee prime2		pantone 2915
primary supplemental colours
#9fc6ee prime3		75% tint of pantone 2915
#b8d2ef prime4		50% tint of pantone 2915
#cbdced prime5		25% tint of pantone 2915

Secondary colours
Natural world
#b0e3c0 natural1	pantone 332
#ccf284 natural2	pantone 373
#5f8011 natural3	pantone 377
#057a52 natural4	pantone 569
#ddf6a4 natural5	pantone 372
#846d53 natural6	warm gray 9
#ccb376 natural7	pantone 4525
#845d00 natural8	pantone 4495
#621700 natural9	pantone 483
vibrants
#ff7200 vibrant1	pantone 1505
#c3001d vibrant2	pantone 186
#8d0017 vibrant3	pantone 194
#7c004f vibrant4	pantone 2612
*/
/*body { 
  font-family:      Arial, Helvetica, Sans-serif;
  font-size:        76%;
  color:            #808080;
  margin:           0;
  padding:          0;
  text-decoration:  none;
  background-color: #ffffff;
}*/
/*
div.main {
  position:         absolute;
  left:             0px;
  top:              84px;
  margin-left:      0px;
  margin-right:     0px;
  margin-top:       0px;
  margin-bottom:    4px;
  width:            100%;
  padding:          0px
}*/

tr {
  vertical-align: top;
}

p, td {
  font-family: Arial, Helvetica, Sans-serif;
  font-size:   0.9em;
  color:       #2f4f4f;
}

/* IMAGES START */

img {
  border: 0;
}

img.img {
  margin: 5px;
  border: 1px solid #aaaaaa;
}

img.img-nb {
  margin: 5px;
  border: 0;
}

div.figleft, div.figright {
  margin: 5px;
}

div.left, div.figleft {
  float: left;
} 

div.right, div.figright {
  float: right;
}

div.figleft p, div.figright p {
  text-align: justify;
  margin:     0;
  color:      #8d0017;
  font-size:  0.75em;
  border:     1px dotted #aaaaaa;
  padding:    0;
} 
        
div.figleft img, div.figright img {
  margin: 0;
  border: 1px solid #aaaaaa;
}

div.figleft a, div.figright a {
  color: #8d0017;
}

.figlegend {
  color:      #8d0017;
  font-size:  0.7em;
  border:     dotted 1px #83a4c3;
  text-align: justify;
  padding:    5px;
}
		      
/* IMAGES FINISH  */

/* begin cross-browser coloured fake-fieldsets */
div.fieldset {
  border:           #83a4c3 dotted 1px;
  background-color: #ffffff;
  padding:          0em 0.5em 0.5em 0.5em; 
  width:            90%;
  text-align:       left;
  margin:           0px;
  align:            center;
  position:         relative;
  margin-top:       1em;
}

div.fieldset div.content {
  padding:          0.75em;
  overflow:         auto;
  background-color: white;
  border:           #83a4c3 dotted 0px;
}

div.fieldset div.legend {
  position:         absolute;
  top:              -0.5em;
  margin-left:      1em;
  white-space:      nowrap;
  display:          table-cell;
  padding:          0 0.2em 0 0.2em;
  font-weight:      bolder;
  z-index:          1;
  border:           black 1px solid;
  background-color: white;
}

div.fieldset div.content img {
  position:       relative;
  padding-bottom: 0.5em;
}

* html div.fieldset div.legend { width: 100px; }

/* end cross-browser coloured fake-fieldsets */
