<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
         http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
         http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd"
    default-init-method="postConstruction">

    <!-- ========================= MESSAGE SOURCE DEFINITION ========================= -->

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:project.properties" />
    </bean>

    <!-- ========================= MAPPING DEFINITIONS ========================= -->


    <bean id="taxonNodeArrayPropertyEditor" class="org.genedb.db.taxon.TaxonNodeArrayPropertyEditor">
        <property name="taxonNodeManager" ref="taxonNodeManager" />
    </bean>

    <bean id="taxonNodeManager" class="org.genedb.db.taxon.TaxonNodeManager">
        <property name="phylogenyDao" ref="phylogenyDao" />
        <property name="hibernateTransactionManager" ref="transactionManager" />
    </bean>

    <bean id="taxonUtils" class="org.genedb.web.mvc.controller.TaxonUtils">
        <property name="tnm" ref="taxonNodeManager" />
    </bean>

    <bean id="sequenceDao" class="org.genedb.db.dao.SequenceDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="platformTransactionManager" ref="transactionManager" />
    </bean>

    <bean id="cvDao" class="org.genedb.db.dao.CvDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="generalDao" ref="generalDao" />
    </bean>

    <bean id="luceneDao" class="org.genedb.web.mvc.controller.LuceneDao">
        <property name="luceneIndexDirectoryName">
        	<value>${lucene.indexDirectory}</value>
        </property>
    </bean>

    <bean id="generalDao" class="org.genedb.db.dao.GeneralDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="platformTransactionManager" ref="transactionManager" />
    </bean>

    <bean id="organismDao" class="org.genedb.db.dao.OrganismDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="phylogenyDao" class="org.genedb.db.dao.PhylogenyDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="pubDao" class="org.genedb.db.dao.PubDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>


    <!-- DataSource Property -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url"><value>jdbc:postgresql://${dbhost}:${dbport}/${dbname}</value></property>
        <property name="username"><value>${dbuser}</value></property>
        <property name="password"><value>${dbpassword}</value></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- Database Property -->
    <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="properties">
        <props>
            <prop key="hibernate.hbm2dll.auto">validate</prop>
            <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop><!--
            <prop key="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</prop>
            <prop key="hibernate.search.default.indexBase">${lucene.indexDirectory}</prop>
         --></props>
     </property>
    </bean>

    <bean id="sessionFactory"
        class="org.gmod.schema.cfg.ChadoSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties" ref="hibernateProperties" />
        <!--  OR mapping files. -->
        <property name="annotatedClasses">
            <list>
                 <!-- Analysis module -->
                <value>org.gmod.schema.analysis.Analysis</value>
                <value>org.gmod.schema.analysis.AnalysisFeature</value>
                <value>org.gmod.schema.analysis.AnalysisProp</value>
                <!-- CV module -->
                <value>org.gmod.schema.cv.Cv</value>
                <value>org.gmod.schema.cv.CvTerm</value>
                <value>org.gmod.schema.cv.CvTermDbXRef</value>
                <value>org.gmod.schema.cv.CvTermPath</value>
                <value>org.gmod.schema.cv.CvTermProp</value>
                <value>org.gmod.schema.cv.CvTermRelationship</value>
                <value>org.gmod.schema.cv.CvTermSynonym</value>
                <value>org.gmod.schema.cv.DbXRefProp</value>
                <!-- General module -->
                <value>org.gmod.schema.general.Db</value>
                <value>org.gmod.schema.general.DbXRef</value>
                <value>org.gmod.schema.general.Project</value>
                <value>org.gmod.schema.general.Tableinfo</value>
                <!-- Organism module -->
                <value>org.gmod.schema.organism.Organism</value>
                <value>org.gmod.schema.organism.OrganismDbXRef</value>
                <value>org.gmod.schema.organism.OrganismProp</value>
                <!-- Phylogeny module -->
                <value>org.gmod.schema.phylogeny.Phylonode</value>
                <value>org.gmod.schema.phylogeny.PhylonodeDbXRef</value>
                <value>org.gmod.schema.phylogeny.PhylonodeOrganism</value>
                <value>org.gmod.schema.phylogeny.PhylonodeProp</value>
                <value>org.gmod.schema.phylogeny.PhylonodePub</value>
                <value>org.gmod.schema.phylogeny.PhylonodeRelationship</value>
                <value>org.gmod.schema.phylogeny.Phylotree</value>
                <value>org.gmod.schema.phylogeny.PhylotreePub</value>
                <!-- Pub module -->
                <value>org.gmod.schema.pub.Pub</value>
                <value>org.gmod.schema.pub.PubAuthor</value>
                <value>org.gmod.schema.pub.PubDbXRef</value>
                <value>org.gmod.schema.pub.PubProp</value>
                <value>org.gmod.schema.pub.PubRelationship</value>
                <!-- Sequence module -->
                <value>org.gmod.schema.sequence.Feature</value>
                <value>org.gmod.schema.sequence.FeatureCvTerm</value>
                <value>org.gmod.schema.sequence.FeatureCvTermDbXRef</value>
                <value>org.gmod.schema.sequence.FeatureCvTermProp</value>
                <value>org.gmod.schema.sequence.FeatureCvTermPub</value>
                <value>org.gmod.schema.sequence.FeatureDbXRef</value>
                <value>org.gmod.schema.sequence.FeatureLoc</value>
                <value>org.gmod.schema.sequence.FeatureLocPub</value>
                <value>org.gmod.schema.sequence.FeatureProp</value>
                <value>org.gmod.schema.sequence.FeaturePropPub</value>
                <value>org.gmod.schema.sequence.FeaturePub</value>
                <value>org.gmod.schema.sequence.FeatureRelationship</value>
                <value>org.gmod.schema.sequence.FeatureRelationshipProp</value>
                <value>org.gmod.schema.sequence.FeatureRelationshipPropPub</value>
                <value>org.gmod.schema.sequence.FeatureRelationshipPub</value>
                <value>org.gmod.schema.sequence.FeatureSynonym</value>
                <value>org.gmod.schema.sequence.Synonym</value>
                <!-- Sequence features -->
                <value>org.gmod.schema.sequence.feature.AbstractExon</value>
                <value>org.gmod.schema.sequence.feature.AbstractGene</value>
                <value>org.gmod.schema.sequence.feature.ApicoplastChromosome</value>
                <value>org.gmod.schema.sequence.feature.Centromere</value>
                <value>org.gmod.schema.sequence.feature.Chromosome</value>
                <value>org.gmod.schema.sequence.feature.Contig</value>
                <value>org.gmod.schema.sequence.feature.Exon</value>
                <value>org.gmod.schema.sequence.feature.FivePrimeUTR</value>
                <value>org.gmod.schema.sequence.feature.Gap</value>
                <value>org.gmod.schema.sequence.feature.Gene</value>
                <value>org.gmod.schema.sequence.feature.Intron</value>
                <value>org.gmod.schema.sequence.feature.LinearDoubleStrandedDNAChromosome</value>
                <value>org.gmod.schema.sequence.feature.MRNA</value>
                <value>org.gmod.schema.sequence.feature.Match</value>
                <value>org.gmod.schema.sequence.feature.MitochondrialChromosome</value>
                <value>org.gmod.schema.sequence.feature.Polypeptide</value>
                <value>org.gmod.schema.sequence.feature.PolypeptideDomain</value>
                <value>org.gmod.schema.sequence.feature.PolypeptideMotif</value>
                <value>org.gmod.schema.sequence.feature.ProductiveTranscript</value>
                <value>org.gmod.schema.sequence.feature.ProteinMatch</value>
                <value>org.gmod.schema.sequence.feature.Pseudogene</value>
                <value>org.gmod.schema.sequence.feature.PseudogenicExon</value>
                <value>org.gmod.schema.sequence.feature.PseudogenicTranscript</value>
                <value>org.gmod.schema.sequence.feature.RRNA</value>
                <value>org.gmod.schema.sequence.feature.RepeatRegion</value>
                <value>org.gmod.schema.sequence.feature.SignalPeptide</value>
                <value>org.gmod.schema.sequence.feature.SnRNA</value>
                <value>org.gmod.schema.sequence.feature.TRNA</value>
                <value>org.gmod.schema.sequence.feature.ThreePrimeUTR</value>
                <value>org.gmod.schema.sequence.feature.Transcript</value>
                <value>org.gmod.schema.sequence.feature.TransmembraneRegion</value>
                <value>org.gmod.schema.sequence.feature.UTR</value>
            </list>
        </property>
    </bean>
</beans>
