<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
         http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
    default-init-method="postConstruction">

    <!-- ========================= MESSAGE SOURCE DEFINITION ========================= -->

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:project.properties" />
    </bean>

    <!-- ========================= MAPPING DEFINITIONS ========================= -->


    <bean id="taxonNodeArrayPropertyEditor" class="org.genedb.db.taxon.TaxonNodeArrayPropertyEditor">
        <property name="taxonNodeManager" ref="taxonNodeManager" />
    </bean>

    <bean id="taxonNodeManager" class="org.genedb.db.taxon.TaxonNodeManager">
        <property name="phylogenyDao" ref="phylogenyDao" />
        <property name="hibernateTransactionManager" ref="transactionManager" />
    </bean>

    <bean id="taxonUtils" class="org.genedb.web.mvc.controller.TaxonUtils">
        <property name="tnm" ref="taxonNodeManager" />
    </bean>

    <bean id="sequenceDao" class="org.genedb.db.dao.SequenceDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="platformTransactionManager" ref="transactionManager" />
    </bean>

    <bean id="cvDao" class="org.genedb.db.dao.CvDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="generalDao" ref="generalDao" />
    </bean>

    <bean id="luceneDao" class="org.genedb.querying.core.LuceneDao">
        <property name="luceneIndexDirectoryName">
        	<value>${lucene.indexDirectory}</value>
        </property>
    </bean>

    <bean name="luceneIndexFactory" class="org.genedb.querying.core.LuceneIndexFactory">
        <property name="luceneIndexList">
        <list>
            <bean class="org.genedb.querying.core.LuceneIndex">
                <property name="indexDirectoryName" value="${lucene.indexDirectory}" />
                <property name="indexName" value="org.gmod.schema.mapped.Feature" />
            </bean>
        </list>
        </property>
    </bean>

    <bean id="generalDao" class="org.genedb.db.dao.GeneralDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="platformTransactionManager" ref="transactionManager" />
    </bean>

    <bean id="organismDao" class="org.genedb.db.dao.OrganismDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="phylogenyDao" class="org.genedb.db.dao.PhylogenyDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="pubDao" class="org.genedb.db.dao.PubDao" init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>


    <!-- DataSource Property -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url"><value>jdbc:postgresql://${dbhost}:${dbport}/${dbname}</value></property>
        <property name="username"><value>${dbuser}</value></property>
        <property name="password"><value>${dbpassword}</value></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- Database Property -->
    <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="properties">
        <props>
            <prop key="hibernate.hbm2dll.auto">validate</prop>
            <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
        </props>
     </property>
    </bean>

    <bean id="sessionFactory"
        class="org.gmod.schema.cfg.ChadoSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties" ref="hibernateProperties" />
        <property name="annotatedPackages">
            <list>
                <value>org.gmod.schema.mapped</value>
                <value>org.gmod.schema.feature</value>
            </list>
        </property>
        <property name="defaultFilters">
            <list><value>excludeObsoleteFeatures</value></list>
        </property>
    </bean>
</beans>
