/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

html input {
    overflow: visible;
}

body {
    font-family: Tahoma, Verdana;
    font-size: 62.5%;
    background: url(../../image/body-bg.gif) repeat-y top center #999999;

}

h1,h2,h3,h4,h5 {
    font-weight: lighter;
    padding: 0.7em 0 0.35em 0.6em;
    margin: 0;
    overflow: hidden;
    line-height: 1.2em;
}

h1 {
    font-size: 1.8em;
    color: #004797;
}

h2 {
    font-size: 1.8em;
    color: #4c4c4c;
}

h3 {
    font-size: 1.2em;
    color: #4c4c4c;
}

br {
    line-height: 1em;
}

/* Pirates be beyond ere' ... and ID styles' */

#container {
    width: 916px;
    margin: 0 auto;
    padding: 20px 18px 20px 20px;
    background: #ffffff;
}

#header {
    margin-bottom: 0.5em;
}

#search {
    width: 252px;
    padding: 0 20px;
}

#navigation {
    height: 37px;
    background: url(../../image/navigation-bg.gif) no-repeat;
}

#navigation a {
    color: #ffffff;
    text-decoration: none;
    z-index: 120;
}

#navigation ul { /* all lists */
    padding: 0;
    margin: 0;
    list-style: none;
    height: 37px;
    line-height: 35px;
    margin-left: 22px;
    font-size: 1.2em;
    color: #fff;
    z-index: 120;
}

#navigation li { /* all list items */
    float: left;
    position: relative;
    padding-right: 15px;
    margin-right: 35px;
    margin-top: 1px;
    padding-bottom: 2px;
    z-index: 120;
}

#navigation li ul { /* second-level lists */
    display: none;
    position: absolute;
    top: 36px;
    left: -0.5em;
    font-size: 1em;
    background: #396f90;
    margin: 0px;
    z-index: 120;
}

#navigation li:hover ul, #navigation li.over ul { /* lists nested under hovered list items */
    display: block;
    padding: 0 0 0.5em 0;
    height: auto;
    line-height: 1.4em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    z-index: 120;
}

#navigation li ul li {
    float: none;
    white-space: nowrap;
    padding: 0.3em 0.5em;
    margin: 0;
    z-index: 120;
}

#navigation li ul li:hover, #navigation li ul li.over { /* lists nested under hovered list items */
    background: #4e95c2;
    z-index: 120;
}

#navigation li ul li:hover a, #navigation li ul li.over a {
    color: #ffffff;
    z-index: 120;
}

#navigation .has-sub {
    margin-right: 50px;
    background: url(../../image/nav-arrow-down.gif) right no-repeat;
    z-index: 120;
}

#col-1-1 {
    float: left;
    width: 604px;
    padding-right: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
}

#col-1-2 {
    float: left;
    width: 292px;
    padding-left: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
}

#col-2-1 {
    float: left;
    width: 916px;
    font-size: 1.2em;
    line-height: 1.5em;
}

#col-3-1 {
    float: left;
    width: 292px;
    padding-right: 10px;
    line-height: 1.5em;
}

#col-3-2 {
    float: left;
    width: 292px;
    padding-left: 10px;
    line-height: 1.5em;
}

#col-4-1 {
    float: left;
    width: 736px;
    padding-right: 10px;
}

#col-4-2 {
    float: left;
    width: 170px;
}

#footer {
    margin-top: 2em;
    font-size: 1.2em;
    line-height: 1.3em;
    color: #4c4c4c;
}

#footer a {
    color: #004797;
    text-decoration: underline;
}

#footer a:hover {
    color: #8b031b;
}

#taxonFrameId li {
    margin-left: 10px;
 }


/* Classes be beyond ere' ... and more pirates */

.taxonIFrame {
    border: 1px solid #D3D3D3;
    width: 300px;
    height: 140px;
    overflow: auto;
    text-align: left;
}

.float-left-and-offset {
    float: left;
    padding: 18px 0px 0px 0px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


.pagelinks {
    background: #dedede;
    padding: 0 20px;
}

.main-light-grey {
    background: #dedede;
    padding: 0 20px;
}

.main-light-grey-top {
    background: url(../../image/main-bg-top-grey.gif);
    height: 12px;
    width: 604px;
    overflow: hidden;
}

.main-light-grey-bot {
    background: url(../../image/main-bg-bottom-grey.gif);
    height: 12px;
    width: 604px;
    overflow: hidden;
}

.main-grey-3-4-top {
    background: url(../../image/main-bg-top-grey-3-4.gif);
    height: 12px;
    width: 736px;
    overflow: hidden;
}

.main-grey-3-4-bot {
    background: url(../../image/main-bg-bottom-grey-3-4.gif);
    height: 12px;
    width: 736px;
    overflow: hidden;
}

.main-blue-3-4-top {
    background: url(../../image/main-bg-top-blue-3-4.gif);
    height: 12px;
    width: 170px;
    overflow: hidden;
}

.main-blue-3-4-bot {
    background: url(../../image/main-bg-bottom-blue-3-4.gif);
    height: 12px;
    width: 170px;
    overflow: hidden;
}

.sub-grey-3-4-top {
    background: url(../../image/sub-bg-top-grey-3-4.gif);
    height: 12px;
    width: 170px;
    overflow: hidden;
}

.sub-grey-3-4-bot {
    background: url(../../image/sub-bg-bottom-grey-3-4.gif);
    height: 12px;
    width: 170px;
    overflow: hidden;
}

.main-blue-top {
    background: url(../../image/main-bg-top-blue.gif);
    height: 12px;
    width: 604px;
    overflow: hidden;
}

.main-blue-bot {
    background: url(../../image/main-bg-bottom-blue.gif);
    height: 12px;
    width: 604px;
    overflow: hidden;
}

.full-light-grey-top {
    background: url(../../image/full-bg-top-grey.gif);
    height: 12px;
    width: 916px;
    overflow: hidden;
}

.full-light-grey-bot {
    background: url(../../image/full-bg-bottom-grey.gif);
    height: 12px;
    width: 916px;
    overflow: hidden;
}

.full-blue-top {
    background: url(../../image/full-bg-top-blue.gif) 0 0 no-repeat;
    height: 12px;
    width: 916px;
    overflow: hidden;
}

.full-blue-bot {
    background: url(../../image/full-bg-bottom-blue.gif) 0 0 no-repeat;
    height: 12px;
    width: 916px;
    overflow: hidden;
}

.baby-blue {
    background: #cbdcec;
    padding: 0 20px;
}

.baby-blue a {
    color: #004797;
    text-decoration: underline;
}

.baby-blue a:hover {
    color: #8b031b;
    overflow: hidden;
}

.baby-blue-nopad {
    background: #cbdcec;
    text-align: center;
}

.baby-blue-top {
    background: url(../../image/content-bg-top-blue.gif);
    height: 12px;
    width: 292px;
    overflow: hidden;
}

.baby-blue-bot {
    background: url(../../image/content-bg-bottom-blue.gif);
    height: 12px;
    width: 292px;
    overflow: hidden;
}

.light-grey {
    background: #dedede;
    padding: 0 20px;
}


.light-grey-nopad {
    background: #dedede;
}

.light-grey a {
    color: #8b031b;
    text-decoration: underline;
}

.light-grey a:hover {
    color: #000000;
}

.light-grey h2 {
    padding: 0;
    color: #004797;
    font-size: 16px;
}


.light-grey-nopad h2 {
    padding: 0;
    color: #004797;
    font-size: 16px;
}

.light-grey-top {
    background: url(../../image/content-bg-top-grey.gif);
    height: 12px;
    width: 292px;
    overflow: hidden;
}

.light-grey-bot {
    background: url(../../image/content-bg-bottom-grey.gif);
    height: 12px;
    width: 292px;
    overflow: hidden;
}

.footer-top {
    background: url(../../image/footer-bg-top-grey.gif);
    height: 12px;
    width: 916px;
    overflow: hidden;
}

.footer-bot {
    background: url(../../image/footer-bg-bottom-grey.gif);
    height: 12px;
    width: 916px;
    overflow: hidden;
}

.dataset-table select {
    width: 150px;
}

.dataset-table img {
    margin-top: 6px;
}

.dataset-table h3 {
    padding: 0.7em 0 0.35em 0;
}

.search-data-table {
    width: 916px;
}

.search-data-table th {
    text-transform: uppercase;
    font-weight: lighter;
    text-align: left;
    padding: 1em 1em 1em 1em;
    background: #cbdcec;
    line-height: 0.7em;
}

.search-data-table td {
    padding: 0.3em 1em;
}

.sequence-table {
    margin-top: 1em;
}

.sequence-table th {
    color: #8b031b;
    text-align: left;
}

.sequence-table td {
    padding-left: 1em;
}

.grey-text {
    color: #666666;
}

.block-para {
    line-height: 1.5em;
    padding: 0.3em 0;
}

.number {
    color: #57a9db;
}

.even {
    background: #dddddd;
}

.block-title {
    font-size: 20px;
    color: #3e4545;
}

.news-date {
    color: #004797;
    font-weight: bold;
}

.sequence {
    font-family: monospace;
}

/* Search (header) box stuff */

.search-box {
    height: 20px;
    width: 170px;
    border-spacing: 0px;
    margin: 0 12px 0 0;
    padding: 0px;
    space: 0px;
    outline: none;
    color: #666;
}

.search-table td {
    padding: 3px 0;
}

.clear {
    clear: both;
}

/* Context map styles */

#contextMapOuterDiv {
    clear: both;
    position: relative;
    width: 916px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#contextMapDiv {
    border: 1px solid #D3D3D3;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 62px;
    cursor: default; /* changed to "move" on loading */
    background-color: #F0F0E4;
    z-index: 1;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

div.highlighter {
    position: absolute;
    display: none;
    background: black;
    font-size: 1px;
    z-index: 2;
}

#contextMapLoading {
    margin-left: 20px;
}

img#contextMapLoadingImage {
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

div.contextMapContent {
    position: absolute;
    left: 0px;
}

img.contextMapImage {
    position:absolute;
    z-index: 3;
}

#contextMapTopPanel {
    position: relative;
    width: 100%;
}

#contextMapThumbnailDiv {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 17px;
}

img#chromosomeThumbnailImage {
    position: absolute;
    top: 3px;
    height: 9px;
}
/* An IE-specific hack for transparency is in the page itself */

img#chromosomeThumbnailWindow {
    position: absolute;
    top: 0px;
    margin-left: -2px;
    cursor: move;
}

img.transcriptBlock {
    position: absolute;
    cursor: pointer;
    z-index: 4;
}

div#errorMessage {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    color: gray;
}

#contextMapInfoPanel {
    position: absolute;
    display: none;
    background: white;
    color: #228;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 38em;
    height: 6em;
    margin-left: 4%;
    padding-left: 1em;
    padding-top: 1em;
    font-size: 14px;
    font-family: sans-serif;
    z-index: 100;
}

#contextMapInfoPanel #selectedGeneName {
    font-weight: bold;
    margin-bottom: 1em;
}

#contextMapInfoPanel #selectedGeneProducts {
    clear: left;
}


#contextMapInfoPanel .label {
    width: 6em;
}
#contextMapInfoPanel .value {
       padding-bottom: 0.2em;
}

#contextMapInfoPanel #loadDetails {
    position: absolute;
    right: 6px;
    bottom: 3px;
    font-size: 80%;
}

.closeButton {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.homeButton {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    z-index: 5;
}


/* Other .closeButton and .homeButton entries are in gene.jsp */

#geneDetailsLoading {
    position: absolute;
    width: 15em;
    top: 200px;
    left: 200px;
    font-size: 2em;
    display: none;
    z-index: 200;
}

#geneDetailsLoading .inner {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
}
#geneDetailsLoading .inner img {
    padding-left: 0.5em;
    padding-right: 1em;
}


/* gv1: used for homepages and (can be used for misc pages if needed) */
.readableText
{
    font-size: 1.2em;
    line-height:1.5em;
    text-align:justify;
    margin-left:1em;
}
.readableText a
{
    color:#4381a7;
}
.readableText ul {
    padding-left:1em;
}

.readableText div.arrowList {
    padding-left:1em;
    margin-left:1em;
}


/* gv1 these for the quick search query results */

div.ui-autocomplete-info {
    float:right;
    font-size:0.8em;
    font-style:italic;
    border : 1px solid grey;
    padding-left:1em;
    padding-right:1em;
}


div.ui-autocomplete-see-all {
    font-weight:bold;
    font-style:italic;
    text-align:right;
}

/* gv1 these are for the breadcrumbs */

div.breadcrumb, div.breadcrumb-separator, div.breadcrumb-link {
    float: left;
    padding:5px;
}


div.breadcrumb-container {
    float:right;
    padding-top:3px;
    padding-bottom:0px;
}


