#contextMapOuterDiv {
    clear: both;
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#contextMapDiv {
    border: 1px solid #D3D3D3;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 62px;
    cursor: default; /* changed to "move" on loading */
    background-color: #F0F0E4;
    z-index: 1;
}

div.highlighter {
    position: absolute;
    display: none;
    background: black;
    font-size: 1px;
    z-index: 2;
}

#contextMapLoading {
    margin-left: 20px;
}

img#contextMapLoadingImage {
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

div.contextMapContent {
    position: absolute;
    left: 0px;
}

img.contextMapImage {
    position:absolute;
    z-index: 3;
}

#contextMapTopPanel {
    position: relative;
    width: 100%;
}

#contextMapThumbnailDiv {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 17px;
}

img#chromosomeThumbnailImage {
    position: absolute;
    top: 3px;
    height: 9px;
}
/* An IE-specific hack for transparency is in the page itself */

img#chromosomeThumbnailWindow {
    position: absolute;
    top: 0px;
    margin-left: -2px;
    cursor: move;
}

img.transcriptBlock {
    position: absolute;
    cursor: pointer;
    z-index: 4;
}

div#errorMessage {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    color: gray;
}

#contextMapInfoPanel {
    position: absolute;
    display: none;
    background: white;
    color: #228;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 38em;
    height: 6em;
    margin-left: 4%;
    padding-left: 1em;
    padding-top: 1em;
    font-size: 14px;
    font-family: sans-serif;
    z-index: 100;
}

#contextMapInfoPanel #selectedGeneName {
    font-weight: bold;
    margin-bottom: 1em;
}

#contextMapInfoPanel #selectedGeneProducts {
    clear: left;
}


#contextMapInfoPanel .label {
    width: 6em;
}
#contextMapInfoPanel .value {
       padding-bottom: 0.2em;
}

#contextMapInfoPanel #loadDetails {
    position: absolute;
    right: 6px;
    bottom: 3px;
    font-size: 80%;
}

.closeButton {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.homeButton {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    z-index: 5;
}


/* Other .closeButton and .homeButton entries are in gene.jsp */

#geneDetailsLoading {
    position: absolute;
    width: 15em;
    top: 200px;
    left: 200px;
    font-size: 2em;
    display: none;
    z-index: 200;
}

#geneDetailsLoading .inner {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
}
#geneDetailsLoading .inner img {
    padding-left: 0.5em;
    padding-right: 1em;
}

body.genePage {font-size: 0.8em;}

div#geneDetails {
    position: relative;
    display: block;
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    min-width: 37em;
}

div#geneResultsPanel {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    min-width: 37em;
}

div#geneTaxonsPanel {
    margin-left: 25px;
    margin-right: auto;
    width: 90%;
    min-width: 10em;
}

div.row {
    clear: both;
    position: relative;
    display: block;
    width: 100%;
    overflow: visible;
}

div.comment {
    display: block;
    clear: both;
    margin-left: 1em;
    margin-bottom: 1ex;
}

div#geneDetails div#firstRow div#generalInformation .middle {
    min-width: 14em;
    margin-right: 11.5em; /* width of analysis tools box */
}
div#geneDetails div#firstRow div#generalInformation .inner {
    min-height: 11em; /* height of analysis tools box */
}
* html div#geneDetails div#firstRow div#generalInformation .inner {
    height: 11em;
}

div#geneDetails div#firstRow div#analysisTools {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 11.5em;
}

div#geneDetails div#firstRow div#analysisTools .inner {
    height: 11em;
}

div#analysisTools #sendTo {
    margin-bottom: 1ex;
}

div.leftBox {
    position: absolute;
    width: auto;
    top: 0px; left: 0px;
}
div.leftBox .middle {
    width: 16em;
}
div.leftBox .inner {
    height: 11em;
}
div.rightBox {float: none;}
div.rightBox .middle {
    margin-left: 16em;
    padding-left: 5px;
}
div.rightBox .inner {
    height: 11em;
}


.outer {
   clear:left;
   float: left;
   width: 100%;
   margin-bottom: 5px;
}
.left  {width: 80%;}
.right {width: 20%; clear: none;}

.middle {
   padding-right: 5px;
}

.inner {
    padding: 5px;
    background-color: #E0E2F3;
    font-family: sans-serif;
}

.whiteBox .inner {
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.greyBox .inner {
    background-color: #D3D3D3;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.inner * {
    margin-bottom: 0pt;
    margin-top: 0pt;
}

.label {
    text-align: left;
    font-weight: bold;
    width: 9.3em;
}

div.label {
    float: left;
    clear: left;
    margin-bottom: 10px;
}

div.value {
    float: left;
    margin-left: 1em;
}

.whiteBox .round *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:white}
.greyBox .round *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#D3D3D3}
.whiteBox .round1, .greyBox .round1{
  margin-left:2px;
  margin-right:2px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #777;
  border-right:1px solid #777;
  background-color:#444;}
.whiteBox .round2, .greyBox .round2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #444;
  border-right:1px solid #444;
  background:black;}
.whiteBox .round3, .greyBox .round3{
  margin-left:0px;
  margin-right:0px;
  padding-left: 2px;
  padding-right: 2px;
  border-left:1px solid #777;
  border-right:1px solid #777;
  background: black;}
.whiteBox .round4, .greyBox .round4{
  margin-left:0px;
  margin-right:0px;
  padding-left: 1px;
  padding-right: 1px;
  border-left:1px solid #444;
  border-right:1px solid #444;
  background: black;}
.whiteBox .round5, .greyBox .round5{
  margin-left:0px;
  margin-right:0px;
  padding-left: 1px;
  padding-right: 1px;
  border-left:1px solid black;
  border-right:1px solid black;
  background: black;}
.whiteBox .roundborder, .greyBox .roundborder{
  background:black}
.whiteBox .roundbg{
  background:white}
.greyBox .roundbg{
  background:#D3D3D3}


.round{display:block}
.round *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#E0E2F3}
.round1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #E4E6F7;
  border-right:1px solid #E4E6F7;
  background:#E2E4F5}
.round2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #E8EAFB;
  border-right:1px solid #E8EAFB;
  background:#E2E4F5}
.round3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #E2E4F5;
  border-right:1px solid #E2E4F5;}
.round4{
  border-left:1px solid #E4E6F7;
  border-right:1px solid #E4E6F7}
.round5{
  border-left:1px solid #E2E4F5;
  border-right:1px solid #E2E4F5}
.roundfg{
  background:#E0E2F3}

 .heading {
    font-family: sans-serif;
    font-weight: bold;
    color: blue;
    padding-bottom: 1ex;
    float: left;
 }
 .sideHeading {
     clear: none;
     float: right;
     color: #666;
     margin-right: 3px;
 }
.inner table {
    clear: both;
}
.evidence { color: #666; }

.domainTable {width: 90%;}
.domainTitleFirst {padding-top: 0px;}
.domainTitle {padding-top: 1em;}
.domainAccession, .domainName {width: 9em; padding-left: 2em; text-align: right;}
.domainDescription {padding-left: 2em;}
.domainPosition {text-align: right; margin-right: 2em;}
.domainScore {text-align: right;}

fieldset {
    border: 1px solid gray;
    padding: 20px;
    width: 600px;
}

.buttons {
    padding-top: 5px;
    width: 100px;
}

.sequence {
    font-family: monospace;
    font-size: 1.3em;
}


.Level0DropDown{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#000000;
font-weight:700;
font-style:normal;
}


.Level1DropDown{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#000000;
font-weight:700;
font-style:normal;
}

.Level2DropDown{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
font-weight:normal;
font-style:italic;
}

.Level3DropDown{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;
font-weight:normal;
font-style:normal;
}

.taxonIFrame {
	border: 1px solid #D3D3D3;
    width: 300px;
    height: 140px;
    overflow: auto;
    text-align: left;
}

#taxonFrameId li {
    margin-left: 10px;
 }

