<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
    <display-name>GeneDB</display-name>
    <description>Web interface to GeneDB, the PSU annotation database</description>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--
      - Key of the system property that should specify the root directory of this
      - web app. Applied by WebAppRootListener or Log4jConfigListener.
    -->
    <context-param>
        <param-name>webAppRootKey</param-name><param-value>@webAppRootKey@</param-value>
    </context-param>

    <!--
      - Location of the Log4J config file, for initialization and refresh checks.
      - Applied by Log4jConfigListener.
    -->
    <context-param>
        <param-name>log4jConfigLocation</param-name><param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name><param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <!--
      - Configures Log4J for this web app.
      - As this context specifies a context-param "log4jConfigLocation", its file path
      - is used to load the Log4J configuration, including periodic refresh checks.
      -
      - Exports a "web app root key", i.e. a system property that specifies the root
      - directory of this web app, for usage in log file paths.
      - This web app specifies "genedb.root" (see log4j.properties file).
    -->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <!--
      - Loads the root application context of this web app at startup,
      - by default from "/WEB-INF/applicationContext.xml".
        -
      - Use WebApplicationContextUtils.getWebApplicationContext(servletContext)
      - to access it anywhere in the web application, outside of the framework.
      -
      - The root context is the parent of all servlet-specific contexts.
      - This means that its beans are automatically available in these child contexts,
      - both for getBean(name) calls and (external) bean references.
    -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--
      -
      -
    -->
    <listener>
        <listener-class>org.genedb.web.mvc.controller.TaxonManagerListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.genedb.web.mvc.controller.DbXRefListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.genedb.web.mvc.controller.ResultCacheSessionListener</listener-class>
    </listener>
<!--
    <filter>
        <filter-name>UriSessionIdFilter</filter-name>
          <filter-class>org.genedb.web.filters.UriSessionIdFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UriSessionIdFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->
    <servlet>
        <servlet-name>headless-test</servlet-name>
        <servlet-class>org.genedb.web.gui.InitHeadlessToolkitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>genedb</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/ArtemisLaunch/*</url-pattern>
     </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Basket/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/ContextMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/ContextMapWindow/*</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/DbLinkRedirect/*</url-pattern>
     </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Download/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/featureSeq/*</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/gene/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/genedb/*</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/gmodrest/*</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/History/*</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Homepage/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/IdList/*</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/IdList</url-pattern>
     </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Image/*</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Orthologs/*</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Page/*</url-pattern>
     </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Query/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/QueryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/QuickSearchQuery</url-pattern>
     </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Results/*</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/ResultsNavigator/*</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
       <servlet-name>genedb</servlet-name>
        <url-pattern>/SequenceDistributor/*</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <!--
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/GoFeature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/BrowseTerm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/ComplexQuery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Search/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/History2/*</url-pattern>
    </servlet-mapping>-->
    <!-- <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/NameSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/AdvancedSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/FeatureDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/FlatFileReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Organism</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Genome/*</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/SearchAll</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/Curation</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/OrganismChooser</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/ProductSearch</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
        <servlet-name>genedb</servlet-name>
        <url-pattern>/MotifSearch</url-pattern>
     </servlet-mapping>
      -->
<!--
      <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
      </error-page>
-->
      <session-config>
        <session-timeout>120</session-timeout>
      </session-config>

</web-app>
