/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

html input {
	overflow: visible;
}

body {
	font-family: Tahoma, Verdana;
	font-size: 62.5%;
	background: url(../image/body-bg.gif) repeat-y top center #999999;

}

h1,h2,h3,h4,h5 {
	font-weight: lighter;
	padding: 0.7em 0 0.35em 0.6em;
	margin: 0;
	overflow: hidden;
	line-height: 1.2em;
}

h1 {
	font-size: 1.8em;
	color: #004797;
}

h2 {
	font-size: 1.8em;
	color: #4c4c4c;
}

h3 {
	font-size: 1.4em;
	color: #4c4c4c;
}

br {
	line-height: 1em;
}

/* Pirates be beyond ere' ... and ID styles' */

#container {
	width: 916px;
	margin: 0 auto;
	padding: 20px 18px 20px 20px;
	background: #ffffff;
}

#header {
	margin-bottom: 0.5em;
}

#search {
	width: 252px;
	padding: 0 20px;
}

#navigation {
	height: 37px;
	background: url(../image/navigation-bg.gif) no-repeat;
}

#navigation a {
	color: #ffffff;
	text-decoration: none;
}

#navigation ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	height: 37px;
	line-height: 35px;
	margin-left: 22px;
	font-size: 1.2em;
	color: #fff;
}

#navigation li { /* all list items */
	float: left;
	position: relative;
	padding-right: 15px;
	margin-right: 35px;
	margin-top: 1px;
	padding-bottom: 2px;
}

#navigation li ul { /* second-level lists */
	display: none;
	position: absolute;
	top: 36px;
	left: -0.5em;
	font-size: 1em;
	background: #396f90;
	margin: 0px;
}

#navigation li:hover ul, #navigation li.over ul { /* lists nested under hovered list items */
	display: block;
	padding: 0 0 0.5em 0;
	height: auto;
	line-height: 1.4em;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

#navigation li ul li {
	float: none;
	white-space: nowrap;
	padding: 0.3em 0.5em;
	margin: 0;
}

#navigation li ul li:hover, #navigation li ul li.over { /* lists nested under hovered list items */
	background: #4e95c2;
}

#navigation li ul li:hover a, #navigation li ul li.over a {
	color: #ffffff;
}

#navigation .has-sub {
	margin-right: 50px;
	background: url(../image/nav-arrow-down.gif) right no-repeat;
}

#col-1-1 {
	float: left;
	width: 604px;
	padding-right: 10px;
	font-size: 1.2em;
	line-height: 1.5em;
}

#col-1-2 {
	float: left;
	width: 292px;
	padding-left: 10px;
	font-size: 1.2em;
	line-height: 1.5em;
}

#col-2-1 {
	float: left;
	width: 916px;
	font-size: 1.2em;
	line-height: 1.5em;
}

#col-3-1 {
	float: left;
	width: 292px;
	padding-right: 10px;
	line-height: 1.5em;
}

#col-3-2 {
	float: left;
	width: 292px;
	padding-left: 10px;
	line-height: 1.5em;
}

#col-4-1 {
	float: left;
	width: 736px;
	padding-right: 10px;
}

#col-4-2 {
	float: left;
	width: 170px;
}

#footer {
	margin-top: 2em;
	font-size: 1.2em;
	line-height: 1.3em;
	color: #4c4c4c;
}

#footer a {
	color: #004797;
	text-decoration: underline;
}

#footer a:hover {
	color: #8b031b;
}

/* Classes be beyond ere' ... and more pirates */

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.main-light-grey {
	background: #dedede;
	padding: 0 20px;
}

.main-light-grey-top {
	background: url(../image/main-bg-top-grey.gif);
	height: 12px;
	width: 604px;
	overflow: hidden;
}

.main-light-grey-bot {
	background: url(../image/main-bg-bottom-grey.gif);
	height: 12px;
	width: 604px;
	overflow: hidden;
}

.main-grey-3-4-top {
	background: url(../image/main-bg-top-grey-3-4.gif);
	height: 12px;
	width: 736px;
	overflow: hidden;
}

.main-grey-3-4-bot {
	background: url(../image/main-bg-bottom-grey-3-4.gif);
	height: 12px;
	width: 736px;
	overflow: hidden;
}

.main-blue-3-4-top {
	background: url(../image/main-bg-top-blue-3-4.gif);
	height: 12px;
	width: 170px;
	overflow: hidden;
}

.main-blue-3-4-bot {
	background: url(../image/main-bg-bottom-blue-3-4.gif);
	height: 12px;
	width: 170px;
	overflow: hidden;
}

.main-blue-top {
	background: url(../image/main-bg-top-blue.gif);
	height: 12px;
	width: 604px;
	overflow: hidden;
}

.main-blue-bot {
	background: url(../image/main-bg-bottom-blue.gif);
	height: 12px;
	width: 604px;
	overflow: hidden;
}

.full-light-grey-top {
	background: url(../image/full-bg-top-grey.gif);
	height: 12px;
	width: 916px;
	overflow: hidden;
}

.full-light-grey-bot {
	background: url(../image/full-bg-bottom-grey.gif);
	height: 12px;
	width: 916px;
	overflow: hidden;
}

.full-blue-top {
	background: url(../image/full-bg-top-blue.gif) 0 0 no-repeat;
	height: 12px;
	width: 916px;
	overflow: hidden;
}

.full-blue-bot {
	background: url(../image/full-bg-bottom-blue.gif) 0 0 no-repeat;
	height: 12px;
	width: 916px;
	overflow: hidden;
}

.baby-blue {
	background: #cbdcec;
	padding: 0 20px;
}

.baby-blue a {
	color: #004797;
	text-decoration: underline;
}

.baby-blue a:hover {
	color: #8b031b;
	overflow: hidden;
}

.baby-blue-nopad {
	background: #cbdcec;
	text-align: center;
}

.baby-blue-top {
	background: url(../image/content-bg-top-blue.gif);
	height: 12px;
	width: 292px;
	overflow: hidden;
}

.baby-blue-bot {
	background: url(../image/content-bg-bottom-blue.gif);
	height: 12px;
	width: 292px;
	overflow: hidden;
}

.light-grey {
	background: #dedede;
	padding: 0 20px;
}

.light-grey a {
	color: #8b031b;
	text-decoration: underline;
}

.light-grey a:hover {
	color: #000000;
}

.light-grey h2 {
	padding: 0;
	color: #004797;
	font-size: 16px;
}

.light-grey-top {
	background: url(../image/content-bg-top-grey.gif);
	height: 12px;
	width: 292px;
	overflow: hidden;
}

.light-grey-bot {
	background: url(../image/content-bg-bottom-grey.gif);
	height: 12px;
	width: 292px;
	overflow: hidden;
}

.footer-top {
	background: url(../image/footer-bg-top-grey.gif);
	height: 12px;
	width: 916px;
	overflow: hidden;
}

.footer-bot {
	background: url(../image/footer-bg-bottom-grey.gif);
	height: 12px;
	width: 916px;
	overflow: hidden;
}

.dataset-table select {
	width: 150px;
}

.dataset-table img {
	margin-top: 6px;
}

.dataset-table h3 {
	padding: 0.7em 0 0.35em 0;
}

.search-data-table th {
	text-transform: uppercase;
	font-weight: lighter;
	text-align: left;
	padding: 0 1em 1em 1em;
	background: #cbdcec;
	line-height: 0.7em;
}

.search-data-table td {
	padding: 0.3em 1em;
}

.sequence-table {
	margin-top: 1em;
}

.sequence-table th {
	color: #8b031b;
	text-align: left;
}

.sequence-table td {
	padding-left: 1em;
}

.grey-text {
	color: #666666;
}

.block-para {
	line-height: 1.5em;
	padding: 0.3em 0;
}

.number {
	color: #57a9db;
}

.tr-grey {
	background: #dddddd;
}

.block-title {
	font-size: 20px;
	color: #3e4545;
}

.news-date {
	color: #004797;
	font-weight: bold;
}

/* Search (header) box stuff */

.search-box {
	height: 20px;
	width: 170px;
	border-spacing: 0px;
	margin: 0 12px 0 0;
	padding: 0px;
	space: 0px;
	outline: none;
	color: #666;
}

.search-table td {
	padding: 3px 0;
}

.clear {
	clear: both;
}
