#list {
    text-align: center;
}
#list table {
    margin-left:auto; margin-right:auto;
}
#list .yui-pg-container a {
    color: #00d;
}
#list .yui-pg-pages a {
    text-decoration: underline;
}
#list, #list .yui-dt-loading {
    text-align: center; background-color: transparent;
}

#queryName {
	background-color: #F0F0E4;
	font-size: 1.5em;
	height: 20px;
	margin: auto;
	width:95%;
}