		'GeneDB_${common_name}' => {
		     'home'          =>  'http://beta.genedb.org/Homepage?taxon=${common_name}',
		     'name'         =>  '${genus} ${species}',
		     'prologue'      =>  qq(
	These databases contain the polypeptide and spliced gene sequences of <i>${genus} ${species}</i>.
			),

		     'databases'     =>  [
					     "genedb/GeneDB_${common_name}_Proteins",
					     "genedb/GeneDB_${common_name}_Genes",
			 ],
			'executables' => [qw(wublastn wutblastn wutblastx wublastx wublastp)],
		},

		'GeneDB_${common_name}/omni' => {
			'home'          =>  'http://beta.genedb.org/Homepage?taxon=${common_name}',
			'name'         =>  '${genus} ${species}',
			'action'      =>  '/cgi-bin/blast/omniblast_server',
			'prologue'      =>  qq(
	These databases contain the polypeptide and spliced gene sequences of <i>${genus} ${species}</i>.
			),

		     'databases'     =>  [
					     "genedb/GeneDB_${common_name}_Proteins",
					     "genedb/GeneDB_${common_name}_Genes",
			 ],
		},

