<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="sessFactory">
		<property name="hibernate.bytecode.use_reflection_optimizer">
			false
		</property>
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:postgresql:ormtest
		</property>
		<property name="hibernate.connection.username">art</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		<property name="hibernate.hbm2dll.auto">validate</property>
		<mapping resource="FeatureDbXRef.hbm.xml" />
		<mapping resource="Synonym.hbm.xml" />
		<mapping resource="DbXRef.hbm.xml" />
		<mapping resource="PubAuthor.hbm.xml" />
		<mapping resource="FeatureLocPub.hbm.xml" />
		<mapping resource="CvTermProp.hbm.xml" />
		<mapping resource="Db.hbm.xml" />
		<mapping resource="FeatureSynonym.hbm.xml" />
		<mapping resource="DbXRefProp.hbm.xml" />
		<mapping resource="CvTermPath.hbm.xml" />
		<mapping resource="CvTermSynonym.hbm.xml" />
		<mapping resource="Feature.hbm.xml" />
		<mapping resource="AnalysisFeature.hbm.xml" />
		<mapping resource="FeatureProp.hbm.xml" />
		<mapping resource="Analysis.hbm.xml" />
		<mapping resource="FeatureRelationshipPub.hbm.xml" />
		<mapping resource="PubDbXRef.hbm.xml" />
		<mapping resource="AnalysisProp.hbm.xml" />
		<mapping resource="Pub.hbm.xml" />
		<mapping resource="FeatureCvTermDbXRef.hbm.xml" />
		<mapping resource="FeatureCvTermPub.hbm.xml" />
		<mapping resource="FeatureRelationshipPropPub.hbm.xml" />
		<mapping resource="Cv.hbm.xml" />
		<mapping resource="Organism.hbm.xml" />
		<mapping resource="PubProp.hbm.xml" />
		<mapping resource="FeatureCvTermProp.hbm.xml" />
		<mapping resource="FeatureCvTerm.hbm.xml" />
		<mapping resource="PubRelationship.hbm.xml" />
		<mapping resource="CvTermDbXRef.hbm.xml" />
		<mapping resource="CvTerm.hbm.xml" />
		<mapping resource="FeatureLoc.hbm.xml" />
		<mapping resource="Tableinfo.hbm.xml" />
		<mapping resource="Project.hbm.xml" />
		<mapping resource="OrganismProp.hbm.xml" />
		<mapping resource="OrganismDbXRef.hbm.xml" />
		<mapping resource="FeaturePub.hbm.xml" />
		<mapping resource="FeatureRelationshipProp.hbm.xml" />
		<mapping resource="FeaturePropPub.hbm.xml" />
		<mapping resource="FeatureRelationship.hbm.xml" />
		<mapping resource="CvTermRelationship.hbm.xml" />
	</session-factory>
</hibernate-configuration>
