<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    default-init-method="postConstruction">

        <context:annotation-config/>
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <tx:annotation-driven mode="aspectj"/>



  <bean id="conf" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" />


  <bean name="cvEditor" class="org.genedb.jogra.plugins.CvEditor">
  </bean>

  <bean name="geneService" class="org.genedb.jogra.services.SqlGeneService">
      <property name="dataSource" ref="dataSource" />
  </bean>

  <bean name="geneEditor" class="org.genedb.jogra.plugins.GeneEditor">
    <property name="geneService" ref="geneService" />
    <!-- <property name="lockAndNotificationService" ref="lockAndNotificationService" /> -->
  </bean>


  <!-- Generic Term Rationaliser   -->
  <bean name="termRationaliser" class="org.genedb.jogra.plugins.TermRationaliser">
     <property name="termService" ref="termService" />
     <property name="taxonNodeManager" ref="taxonNodeManager" />
     <property name="jogra" ref="application" /> <!--  remove after fixing event bus publish method 26.5.09 NDS -->
  </bean>

  <bean name="termService" class="org.genedb.jogra.services.SqlTermService"> <!--init-method="afterPropertiesSet"--> 
     <property name="dataSource" ref="dataSource" />
     <property name="taxonNodeManager" ref="taxonNodeManager" />
  </bean>
  
  
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="${Jogra.url}" />
	    <property name="username" value="${Jogra.username}"/>
        <property name="password" value="${Jogra.password}" />
         
    </bean>

  

  <!-- Plugin to view the organism tree structure  -->

  <bean name="organismTree" class="org.genedb.jogra.plugins.OrganismTree" >
  <property name="taxonNodeManager" ref="taxonNodeManager" />
   <property name="jogra" ref="application" /> <!--  remove after fixing event bus publish method 26.5.09 NDS -->
  </bean>


  <bean id="taxonNodeManager" class="org.genedb.db.taxon.TaxonNodeManager">
        <property name="phylogenyDao" ref="phylogenyDao" />
        <property name="sessionFactory" ref="sessionFactory" />
   
    </bean>


     <bean id="phylogenyDao" class="org.genedb.db.dao.PhylogenyDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="cvDao" class="org.genedb.db.dao.CvDao">   
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="generalDao" ref="generalDao" />
    </bean>

    <bean id="generalDao" class="org.genedb.db.dao.GeneralDao">
        <property name="cvDao" ref="cvDao"/>
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

     <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
         <property name="sessionFactory" ref="sessionFactory" />
     </bean>


    
    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory"
        class="org.gmod.schema.cfg.ChadoSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties" ref="hibernateProperties" />
        <property name="annotatedPackages">
            <list>
                <value>org.gmod.schema.mapped</value>
                <value>org.gmod.schema.feature</value>
            </list>
        </property>
    </bean>
    
    
    




    <!-- Database Property -->
    <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="properties">
        <props>
            <prop key="hibernate.hbm2dll.auto">validate</prop>
            <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
            <prop key="hibernate.bytecode.provider">javassist</prop>
            <prop key="current_session_context_class">thread</prop>
            <prop key="hibernate.search.default.indexBase">${java.io.tmpdir}</prop>
            <prop key="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</prop>
        </props>
     </property>
    </bean >
    



<!-- List of plugins for Jogra -->

   <bean id="application" class="org.genedb.jogra.drawing.Jogra">
     <property name="jograBusiness" ref="jograBusiness" />
     <!-- <property name="messageService" ref="messageService"/> -->
     <property name="pluginList">
       <list>      
          <ref bean="organismTree" />
          <ref bean="termRationaliser" />         
       </list>
     </property>
   </bean>

   <bean id="jograBusiness" class="org.genedb.jogra.drawing.JograBusinessImpl">
   <!-- <property name="testService" ref="testService" /> -->
   </bean>

   

</beans>
